* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header {
    background-color: #990066;
    height: 78px;
    padding-top: 20px;
}

.nav-main-menu {
    display: inline;
}

.nav-main-menu li {
    margin-left: 46px;
    color: #fff;
    display: inline;
}

.nav-main-menu a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: inline;
    font-size: larger;
    font-weight: 900;
    color: #fff;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/* контент */

.records h2 , .about h2 {
    margin: 40px 0 20px;
}

.about p {
    margin: 10px 0;
}

/* Главная */
.card {
    border: 1px solid #621f1f;
    border-radius: 5px;
    height: 100px;
    display: flex;
    padding: 10px;
    width: 780px;
    margin-bottom: 20px;
}

.card p {
    padding-top: 10px;
    color: gray;
    font-size: 16 px;
}

.card-left {
    width: 50%;
}

.card span {
    color: black;
}

.myform {
    background-color: #990066;
    width: 705px;
    margin: 75px 0 0 100px;
    padding: 35px;
}

.myform input[type='submit'] {
    background-color: #d60590;
    margin-top: 10px;
    color: #fff;
    padding: 6px 12px;
}

.myform div {
    margin-top: 10px;
}

